################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SampleCostdataIntegration/obj/Debug
/SampleCostdataIntegration/bin/Debug
/SampleCostdataIntegration/.vs/SampleCostdataIntegration/v15
/.vs
/SampleCostdataIntegration/packages
